{% extends "::base.html.twig" %}
{% block title %}InteriorPostr{% endblock %}
{% block header %}
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block stylesheet %}
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="{{ asset('bundles/dbapp/postr/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/dbapp/postr/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
    
    {% block pageInStyle %}{% endblock %}
    
    <link href="{{ asset('bundles/dbapp/postr/css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/dbapp/postr/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/dbapp/postr/css/postr-styles.css') }}" rel="stylesheet">
	{% block pageStyle %}{% endblock %}
{% endblock %}

{% block javascript %}
	{% block pagesScript %}{% endblock %}
{% endblock %}

{% block body_attr %}{% block anguler %}{% endblock %}{% endblock %}

{% block body %}
<div id="wrapper">
	<nav class="navbar-default navbar-static-side" role="navigation">
		<div class="sidebar-collapse">
			<ul class="nav metismenu" id="side-menu">
				<li class="nav-header">
					{% set currentUser = app.session.get('PRIMO_POSTREACH_APP_POSTREACH_XYZ_NGINX_SYMFONY_LOGIN_USER') %}
					{% set imge = 'bundles/dbapp/app/images/user-icon.png' %}
					
					{% if currentUser is defined and currentUser is not empty and currentUser.profile is defined and currentUser.profile is not empty %}
						{% set image = currentUser.profile %}
					{% elseif currentUser is defined and currentUser is not empty and currentUser.image is defined and currentUser.image is not empty %}
						{% set image = currentUser.image %}
					{% endif %}
					<div class="dropdown profile-element">
						{#<span>
							<img alt="Profile" class="img-circle" src="{{ asset(image) }}" width="48px"/>
						</span>#}
						<a data-toggle="dropdown" class="dropdown-toggle" href="#">
							<span class="clear">
								<span class="block m-t-xs"> 
									<strong class="font-bold">
		            					{% if currentUser is defined and currentUser is not empty %}
		            						<span class="semi-bold">{{ currentUser.firstName|default('') }} {{ currentUser.lastName|default('') }}</span>
		            					{% else %}
		            						<span class="semi-bold">Welcome</span>
		            					{% endif %}
										{#<b class="caret"></b>#}
									</strong>
								</span>
							</span>
						</a>
						{#<ul class="dropdown-menu animated fadeInRight m-t-xs">
							<li><a href="{{ path('db_postreach_profile') }}">Profile</a></li>
							<li class="divider"></li>
							<li><a href="{{ path('db_postreach_logout') }}">Logout</a></li>
						</ul>#}
					</div>
					<div class="logo-element">Postr</div>
				</li>
				<li {% if app.request.attributes.get('_route') == 'db_postreach_dashboard'%} class="active" {% endif %}>
					<a href="{{ path('db_postreach_dashboard') }}"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span></a>
				</li>
				
				<li {% if app.request.attributes.get('_route') == 'db_postreach_new_post'%} class="active" {% endif %}>
					<a href="{{ path('db_postreach_new_post') }}"><i class="fa fa-bullhorn"></i><span class="nav-label">New Post</span></a>
				</li>
				
				<li {% if app.request.attributes.get('_route') == 'db_postreach_post_preference_category' or app.request.attributes.get('_route') == 'db_postreach_post_preference_frequency_settings' or app.request.attributes.get('_route') == 'db_postreach_post_preference_social_networks' %} class="active" {% endif %}>
					<a href="{{ path('db_postreach_post_preference_category') }}"><i class="fa fa-wrench"></i><span class="nav-label">Post Preferences</span></a>
				</li>
				
				<li {% if app.request.attributes.get('_route') == 'db_postreach_profile'%} class="active" {% endif %}>
					<a href="{{ path('db_postreach_profile') }}"><i class="fa fa-user"></i><span class="nav-label">Profile</span></a>
				</li>
				
				<li {% if app.request.attributes.get('_route') == 'db_postreach_billing'%} class="active" {% endif %}>
					<a href="{{ path('db_postreach_billing') }}"><i class="fa fa-usd"></i><span class="nav-label">Billing</span></a>
				</li>
				
				<li><a href="mailto:support@interiorpostr.com"><i class="fa fa-support"></i><span class="nav-label">Contact Support</span></a></li>
				
				<li><a href="{{ path('db_postreach_logout') }}"><i class="fa fa-sign-out"></i><span class="nav-label">Log Out</span></a></li>
			</ul>
		</div>
	</nav>

	<div id="page-wrapper" class="gray-bg">
		<div class="row border-bottom">
			<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
				<div class="navbar-header">
					<a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#"><i class="fa fa-bars"></i></a>
					<img class="" src="{{ asset('bundles/dbapp/postr/img/postr-logo.png') }}" style="margin-top: 10px; margin-right: 10px;"/>
				</div>
				<ul class="nav navbar-top-links navbar-right hidden-xs">
					<li><span class="m-r-sm text-muted welcome-message"></span></li>
					<li><a href="{{ path('db_postreach_logout') }}"><i class="fa fa-sign-out"></i>Log out</a></li>
				</ul>
			</nav>
		</div>
		<div class="row wrapper border-bottom white-bg page-heading">
			<div class="col-sm-4">
				{% block containerHeader %}{% endblock %}
			</div>
			<div class="col-sm-8">
				<div class="title-action">
					{% block pageAction %}{% endblock %}
				</div>
			</div>
		</div>
		<div class="wrapper wrapper-content">
			{% block container %}{% endblock %}
		</div>
		<div class="footer">
			<div class="pull-right">
				Happy <strong>Sharing</strong>!
			</div>
			<div>
				<strong>Copyright</strong> Interior Postr &copy; 2017
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block bodyOut %}
	<!--modal content -->
	<div class="modal" id="bt-loader" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content animated flipInY">
				<div class="modal-header text-left" style="font-size: 15px;">
					<h4 class="modal-title">Loading...</h4>
				</div>
				<div class="modal-body">
					<div class="sk-spinner sk-spinner-rotating-plane"></div>
				</div>
				<div class="modal-footer" style="text-align: center;">
					<p>Wait until action will finish...</p>
				</div>
			</div>
		</div>
	</div>
	<div id="base-path" style="display: none;" data-url="{{ path('db_postreach') }}"></div>
	
	<!-- Mainly scripts -->
    <script src="{{ asset('bundles/dbapp/postr/js/jquery-2.1.1.js') }}"></script>
    <script src="{{ asset('bundles/dbapp/postr/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/dbapp/postr/js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script src="{{ asset('bundles/dbapp/postr/js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{{ asset('bundles/dbapp/postr/js/inspinia.js') }}"></script>
    <script src="{{ asset('bundles/dbapp/postr/js/plugins/pace/pace.min.js') }}"></script>
    {% block bodyOutPagesScript %}{% endblock %}
{% endblock %}

{% block bodyCommon %}
{% endblock %}