{% extends 'DBAppBundle::baseAdminLayout.html.twig' %}

{% block body_attr %} class="gray-bg"{% block anguler %}{% endblock %}{% endblock %}

{% block body %}
<div class="middle-box text-center loginscreen animated fadeInDown">
	<div>
		<div>
			<h2 class="logo-name">
				<img src="{{ asset('bundles/dbapp/postr/img/postr-logo.png') }}" />
			</h2>
		</div>
		<h3>Reset Password</h3>
		{% if response.error is defined %}
			<div class="alert alert-danger alert-dismissable alert-message">
				<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				<span>{{ response.error }}!<br/><a href="{{ path('db_postreach_forgot_password') }}">click here</a> to resend forgot password password link.</span>
			</div>
		{% else %}
			{% if response.isSend is defined and response.isSend is not empty and response.isSend == '1' %}
				<div class="alert alert-success">
					Your password is reset successfully, <a href="{{ path('db_postreach') }}">Click here</a> to login with new credentials
				</div>
			{% else %}
				<form id="loginForm" name="loginForm" action="{{ path('db_postreach_reset_password', {uniqueToken: response.userDetail.uniqueToken | default('')}) }}" method="post" class="m-t" role="form">
					<div class="form-group">
						<input name="loginForm[email]" type="email" class="form-control" placeholder="Email" required="required">
					</div>
					
					<div class="form-group">
						<input name="loginForm[newPassword]" type="password" class="form-control" placeholder="New Password" required="required">
					</div>
					
					<div class="form-group">
						<input name="loginForm[confirmPassword]" type="password" class="form-control" placeholder="Confirm Password" required="required">
					</div>
					<button type="submit" class="btn btn-primary block full-width m-b">Update Password</button>
				</form>
			{% endif %}
		{% endif %}
		<p class="m-t">
			<small>Copyright &copy; 2017. All rights reserved.</small>
		</p>
	</div>
</div>
{% endblock %}

{% block bodyOutPopup %}
{% endblock %}

{% block bodyOutPagesScript %}
<script type="text/javascript">
$(document).ready(function() {
	setTimeout(function() { 
		$('.alert-message').hide(); 
	}, 5000);
});
{% endblock %}